*.log
bin/
dist/
msw/
msw64/
msvs/debug/
msvs/debug64/
msvs/obj/
msvs/obj64/
msvs/packages/
msvs/profile/
msvs/profile64/
obj/
setup/*.exe

# Code::Blocks cruft
cbp/debug
cbp/*.layout
cbp/*.depends

# Windows cruft
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.lnk

# OS X cruft
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio build cruft
.vs/
*.VC.db
*.sdf
*.opensdf
*.opendb
*.suo
*.user
*.aps
*.obj
*.idb
*.pdb
*.tlog

# SCons build cruft
*.dblite
