*.log
bin/*.exe
bin/plugin/
msvc/obj/
msvc/debug/
obj/
plugin/bin/
setup/*.exe
studio/

# Windows cruft
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.lnk

# OS X cruft
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio build cruft
*.sdf
*.opensdf
*.opendb
*.suo
*.user
*.aps
*.obj
*.idb
*.pdb
*.tlog

# SCons build cruft
*.dblite
