Source: minisphere
Maintainer: Bruce Pascoe <fatcerberus@icloud.com>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends:
 debhelper (>= 9),
 liballegro5-dev (>= 5.0.0),
 liballegro-audio5-dev (>= 5.0.0),
 liballegro-acodec5-dev (>= 5.0.0),
 liballegro-dialog5-dev (>= 5.0.0),
 liballegro-image5-dev (>= 5.0.0),
 libmng-dev (>= 1.0.10),
 zlib1g-dev (>= 1.2.3)

Package: minisphere
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: JavaScript-based game engine
 minisphere is a drop-in replacement and successor to the Sphere game engine,
 written from the ground up in C.  It boasts a high level of compatibility with
 most games written for Sphere 1.x, with better performance and new
 functionality.  The majority of games will run with no modifications. 
 .
 Like Sphere, minisphere uses JavaScript for game coding.  The engine exposes a
 collection of low-level functions through a standardized JavaScript API, leaving
 higher-level game logic entirely up to scripts.  This allows any type of game to
 be made with minisphere; of course, this naturally requires more expertise than
 making a game with, say, RPG Maker or even Game Maker, but the results are worth
 it.
 .
 minisphere is not just a game engine, but a complete toolchain for game
 development.  Several command-line tools, collectively known as the
 minisphere GDK, are included to make game development easier:
