function $sphere()
{{
	install(files("scripts/*", true), "scripts");
	install(files("animations/*", true), "animations");
	install(files("fonts/*", true), "spritesets");
	install(files("images/*", true), "images");
	install(files("maps/*", true), "maps");
	install(files("sounds/*", true), "sounds");
	install(files("spritesets/*", true), "spritesets");
	install(files("windowstyles/*", true), "sounds");
	install(files("icon.png"));
	
	install(sgm({{
		name: "{0}",
		author: "{1}",
		description: "{2}",
		resolution: "{3}x{4}",
		script: "scripts/main.js",
	}}));
}}
